<div>
  {% for block in section.blocks %}
    <p>{{ block.settings.text }}</p>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "t:sections.announcement-bar.name",
    "max_blocks": 1,
    "blocks": [
      {
        "type": "announcement",
        "name": "t:sections.announcement-bar.blocks.announcement.name",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Welcome to our store",
            "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
          }
        ]
      }
    ]
  }
{% endschema %}